 <div class="avatar">
   <img src="assets/img/avatar.png" alt="Avatar">
</div>

 <div class="user-details">
  <p> Welcome!
Hi, I'm Al Ruiz—a passionate data enthusiast. I seek to transform raw data into actionable and understandable insights. 
 </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Education</h2>
  <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-pencil-alt"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>
   Armed with a B.S. in Applied Management and a certification as a Google Data Analytics professional and Google certified educator, 
   I specialize in Excel, SQL, and data visualization, 
   and am exploring Tableau and Python.
    </p>
  </div>

  <div class="tech">
    <h2>Professional Experience</h2>
  <div class="icons">
      <i class="icon fas fa-file-csv"></i>
      <i class="icon fas fa-microscope"></i>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <p>
In my role as a Data Analyst at B+T Engineering, I implemented a 
streamlined tracking system using Excel, reducing processing time by 50%
and enhancing workflow efficiency. My proficiency in developing 
training modules with Word, Excel, and PowerPoint led to a remarkable 
33% reduction in onboarding time. 
At Arvest Bank, I excelled as a Help 
Desk Representative, consistently achieving top performer rankings and 
showcasing exceptional troubleshooting skills.
  </div>
  <div class="tech">
    <h2>Multilingual and Multicultural Background</h2>
  <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-pencil-alt"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>
Fluent in both English and Spanish, my multicultural experiences, including volunteering in South America, have equipped me with a unique cultural awareness and the ability to connect with diverse groups of people.
As a first-generation immigrant, I deeply understand the value of hard work and perseverance. My journey embodies a strong work ethic, adaptability, and a passion for continuous learning.
    </p>
  </div>
</div>
