er<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">

    <h3> House Sales Dashboard </h3>
    <p>
      Interactive dashboard using data from 2014-2015 
for King's County, Washington homes. 
https://github.com/mochen862/king-county-house-sales
    </p>
    <p align="center"><a class="project-link" href="https://public.tableau.com/views/KingCountyHouseSales_17061287310980/KingCountyHouseSales?:language=en-US&:display_count=n&:origin=viz_share_link">Check it out</a></p>
  </div>
<div class="user-projects">
  <div class="images-center">
    <img alt="King County House Sales" src="{{ "assets/img/King County House Sales.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">

    <h3> Global COVID-19 Vaccine Tracker </h3>
    <p>
      Interactive dashboard showing status of global 
COVID-19 vaccination records. Data taken from Mathieu, E., Ritchie, H., 
Ortiz-Ospina, E. et al. A global database of COVID-19 vaccinations. Nat 
Hum Behav (2021)
    </p>
    <p align="center"><a class="project-link" href="https://public.tableau.com/app/profile/al.ruiz/viz/COVIDVaccineTracker_17060838921150/COVIDVaccineTracker">Check it out</a></p>
  </div>
<div class="user-projects">
  <div class="images-center">
    <img alt="COVID Vaccine Tracker" src="{{ "assets/img/COVID Vaccine Tracker.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">

      <h3> Other Interests </h3>
      <p>
        Apart from data and technology, my hobbies include playing piano, videogames with friends, watching movies, and cheering on my favorite team-the Phoenix Suns.
      </p>
      <p align="center">
      <a class="project-link" href="https://howlongtobeat.com/user/AlbertoSauce/games/completed/1" >HLTB</a>
      </p>
  </div>
  <div class="user-projects">
    <div class="images-center">
      <img alt="HLTB completed games" src="{{ "/assets/img/HLTB completed games.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-left">

</div>
